# API Configuration
VITE_API_URL=http://localhost:8000

# Google OAuth
VITE_GOOGLE_CLIENT_ID=217656304688-frdomjsr1sfblstjvfh5ju52mv8g7ino.apps.googleusercontent.com

# reCAPTCHA
VITE_RECAPTCHA_SITE_KEY=6LcReDosAAAAAOrw9SmsCbmtWQ0iC-MUWxFiTeuG

# Admin App URL (used when admin users log in)
VITE_ADMIN_APP_URL=http://localhost:5174
